{% extends "base.html" %} {% block title %}Add Job Activity{% endblock %} {%
block content %}

<style>
  .highlighted {
    background-color: #007bff !important;
    color: white !important;
  }
</style>

<div class="row justify-content-center">
  <div class="col-md-8">
    <form action="" method="post" novalidate>
      {# {{ form.hidden_tag() }} #}

      <div class="container text-start">
        <div class="row">
          <div class="col-1"><strong>ID: </strong>{{ job.id }}</div>
          <div class="col"><strong>Company: </strong>{{ job.company }}</div>
          <div class="col"><strong>Title: </strong>{{ job.title }}</div>
          <div class="col"><strong>Location: </strong>{{ job.location }}</div>
        </div>

        <br />
        <div class="row">
          <h5>Add New Activity</h5>
          <br />
        </div>
        <div class="row">
          <div class="col-md-8">
            <input
              type="text"
              id="searchInput"
              class="form-control"
              placeholder="Type to search or click to see all options..."
              autocomplete="off"
            />
            <input
              type="hidden"
              id="selectedActivityType"
              name="activity_type"
            />
          </div>
          <div class="col-md-auto">
            <button
              type="submit"
              class="btn btn-success"
              id="selectActivityBtn"
              style="width: 100%"
            >
              Select Activity
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="dropdown" class="dropdown-menu"></div>
          </div>
        </div>
        <div id="dynamic-fields"></div>
      </div>
    </form>
  </div>
</div>

<script src="/static/searchable-select.js"></script>
<script>
  const activityTypes = {{ job_activity_types_list | tojson }};
  new SearchableSelect('searchInput', 'dropdown', 'selectedActivityType', activityTypes);
</script>

<script src="/static/job_activity_forms.js"></script>
<script src="/static/show-job-activity.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const selectButton = document.getElementById("selectActivityBtn");

    selectButton.addEventListener("click", function (event) {
      event.preventDefault(); // Prevent form submission if needed

      const selectedActivity = document.getElementById(
        "selectedActivityType"
      ).value;
      const dynamicFieldsContainer = "dynamic-fields";

      // Only run ShowJobActivity if an activity is selected
      if (selectedActivity) {
        new ShowJobActivity(selectedActivity, dynamicFieldsContainer);
      } else {
        alert("Please select an activity first!");
      }
    });
  });
</script>

{% endblock %}
