{% from "macros/jobs_macros.html" import job_display_top_of_page %}{% extends
"base.html" %} {% block title %}Add Job Activity{% endblock %} {% block content
%}

<style>
  .highlighted {
    background-color: #007bff !important;
    color: white !important;
  }
</style>

<div class="row justify-content-center">
  <div class="col-md-8">
    <form action="" method="post" novalidate id="dynamic-form">
      {# {{ form.hidden_tag() }} #}

      <div class="container text-start">
        {{job_display_top_of_page(job)}}

        <br />
        <div class="row">
          <h5>Add New Activity</h5>
          <br />
        </div>
        <div class="row">
          <div class="col-md-8">
            <input type="text" id="searchInput" class="form-control"
              placeholder="Type to search or click to see all options..." autocomplete="off" />
            <input type="hidden" id="selectedActivityType" name="activity_type" />
          </div>
          <div class="col-md-auto">
            <button type="submit" class="btn btn-success" id="selectActivityBtn" style="width: 100%">
              Select Activity
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="dropdown" class="dropdown-menu"></div>
          </div>
        </div>

        <br />

        <div id="dynamic-fields" class="container-md d-flex flex-column gap-3"></div>

        <div class="container-md d-flex flex-column gap-3" id="test-area"></div>
      </div>
    </form>
  </div>
</div>

<script src="/static/js/searchable-select.js"></script>
<script src="/static/js/job_activity_forms.js"></script>
<script src="/static/js/show-job-activity.js"></script>

<script>
  const activityTypes = {{ job_activity_types_list | tojson }};
  new SearchableSelect('searchInput', 'dropdown', 'selectedActivityType', activityTypes);
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const selectButton = document.getElementById("selectActivityBtn");

    selectButton.addEventListener("click", function (event) {
      event.preventDefault(); // Prevent form submission if needed

      const selectedActivity = document.getElementById(
        "selectedActivityType"
      ).value;

      const dynamicFieldsContainer = "dynamic-fields";
      const dynamicFieldsForm = "dynamic-form";

      // Only run ShowJobActivity if an activity is selected
      if (selectedActivity) {
        new ShowJobActivity(
          selectedActivity,
          dynamicFieldsContainer,
          dynamicFieldsForm,
          {{ job.id }}
        );
  } else {
    alert("Please select an activity first!");
  }
    });
  });
</script>

{% endblock %}