{% extends "base.html" %} {% block title %}Add Job Activity{% endblock %} {%
block content %}

<div class="row justify-content-center">
  <div class="col-md-8">
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}

      <div class="container text-start">
        <div class="row">
          <div class="col-1"><strong>ID: </strong>{{ job.id }}</div>
          <div class="col"><strong>Company: </strong>{{ job.company }}</div>
          <div class="col"><strong>Title: </strong>{{ job.title }}</div>
          <div class="col"><strong>Location: </strong>{{ job.location }}</div>
        </div>

        <br />
        <div class="row">
          <h5>Add New Activity</h5>
          <br />
        </div>
        <div class="row">
          {#
          <label for="{{ form.activity_type.id }}"
            >{{ form.activity_type.label }}</label
          >
          {{ form.activity_type(class="form-control") }} {{
          form.submit(class="btn btn-primary") }} #} {{
          form.activity_type(size=32, class="form-control",
          placeholder="Activity Type") }}
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
