{% extends "base.html" %} {% block title %}Close Job{% endblock %} {% block content %}

<div class="container">
  <h5>Close Job Posting</h5>

  <div class="card d-inline-block" style="min-width: 50%; width: auto">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Job ID:</strong>
          {{ job.id }}
        </li>
        {% if job.posting_id %}
        <li class="list-group-item">
          <strong>Posting ID:</strong>
          {{ job.posting_id }}
        </li>
        {% endif %}
        <li class="list-group-item">
          <strong>Company:</strong>
          {{ job.company }}
        </li>
        <li class="list-group-item">
          <strong>Title:</strong>
          {{ job.title }}
        </li>
        <li class="list-group-item">
          <strong>Description:</strong>
          <div class="card mt-3" id="description-display">
            <div class="card-body" style="word-break: break-word; max-height: 300px; overflow-y: auto;">
              <div class="quill-content">
                {{ job.description | safe }}
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="border-top my-3"></div>

      <p><strong>Are you sure you want to close this job?</strong></p>
      <form method="POST">
        {{ form.closing_date.label(class="form-label") }} {{ form.closing_date(class="form-control") }}
        <br />
        {{ form.closing_reason(size=32, class="form-control", placeholder="Closing Reason") }}
        <br />
        {{ form.hidden_tag() }} {{ form.submit(class="btn btn-primary me-3") }}
        <a href="{{ url_for('main.index') }}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}