{% extends "base.html" %} {% block title %}Home - Job Tracker{% endblock %} {% block content %}

<div class="container">
  <h3>Delete Job</h3>

  <div class="card" style="width: auto; display: inline-block">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Job ID:</strong>
          {{ job.id }}
        </li>
        {% if job.posting_id %}
        <li class="list-group-item">
          <strong>Posting ID:</strong>
          {{ job.posting_id }}
        </li>
        {% endif %}
        <li class="list-group-item">
          <strong>Company:</strong>
          {{ job.company }}
        </li>
        <li class="list-group-item">
          <strong>Title:</strong>
          {{ job.title }}
        </li>
        <li class="list-group-item">
          <strong>Description:</strong>
          {{ job.description }}
        </li>
      </ul>
      <br />
      <p><strong>Are you sure you want to delete this job?</strong></p>
      <p>All data, including files, will be permanently deleted.</p>

      <form method="POST">
        {{ form.hidden_tag() }} {{ form.submit(class="btn btn-danger") }} {# #}
        <a href="{{ url_for('main.index') }}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}
