{% from "jobs_macros.html" import file_edit_card, file_add_card %} {% if job.resume_file %} {{ file_edit_card(job,
'resume', 'Resume') }} {% else %} {{ file_add_card(job, 'resume', 'Resume') }} {% endif %} {% if job.cover_letter_file%}
{{ file_edit_card(job, 'cover_letter', 'Cover Letter') }} {% else %} {{ file_add_card(job, 'cover_letter', 'Cover
Letter') }} {% endif %} {% if job.job_description_file %} {{ file_edit_card(job, 'job_description', 'Job Description')
}} {% else %} {{ file_add_card(job, 'job_description', 'Job Description') }} {% endif %}
