{% extends "base.html" %} {% block title %}Home - Job Tracker{% endblock %} {%
block content %}

<div class="row">
  <div class="col-md-12">
    <p class="lead">List of Open Job Postings</p>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Company</th>
          <th>Job Title</th>
          <th>Location</th>
          <th>Remote Option</th>
          <th>Salary Range</th>
          <th>Date Created</th>
          <th>Actions</th>
          {#
          <th>Notes</th>
          #}
        </tr>
      </thead>

      <tbody>
        {% for job in jobs %}
        <tr>
          <td>{{ job.company }}</td>
          <td>{{ job.title }}</td>
          <td>{{ job.location }}</td>
          <td>{{ job.remote_option }}</td>
          <td>${{ job.salary_range_low }} - ${{ job.salary_range_high }}</td>
          <td>{{ job.created_dt.strftime('%Y-%m-%d') }}</td>
          <td>
            <a
              href="{{ url_for('job_activities.create', job_id=job.id) }}"
              class="btn btn-primary btn-sm ms-2"
              style="display: inline-block"
              >Add Activity</a
            >
            <a
              href="{{ url_for('job_notes.create', job_id=job.id) }}"
              class="btn btn-primary btn-sm"
              style="display: inline-block"
              >Add Note</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="mt-4">
      <a href="{{ url_for('jobs.create') }}" class="btn btn-success"
        >Add Job Application</a
      >
    </div>
  </div>
</div>
{% endblock %}
