{% macro select_file_upload(file_field, label) %}

<div class="row row-cols-2">
  <div class="col-3 d-flex align-items-center justify-content-center">
    <label for="{{ file_field.id }}">{{ label }}:</label>
  </div>
  <div class="col-9 d-flex align-items-left">
    {{ file_field(class="form-control", accept=".pdf,.docx,.doc,.tex", style="width:100%; display:inline-block;") }}

    <!-- Display validation errors -->
    {% if file_field.errors %} {% for error in file_field.errors %}
    <div class="error-text">{{ error }}</div>
    {% endfor %} {% endif %}
  </div>
</div>

{% endmacro %} {% macro job_row_with_additional_info(job) %} {% set has_activities = job.activities|length > 0 %} {% set
has_notes = job.notes|length > 0 %}
<tr class="clickable-row" data-bs-target="#details-{{ job.id }}" aria-expanded="false">
  <td><i class="expand-icon">▼</i></td>
  <td>{{ job.company }}</td>
  <td>{{ job.title }}</td>
  <td>{{ job.location }}</td>
  <td>{{ job.remote_option }}</td>
  <td>${{ job.salary_range_low }} - ${{ job.salary_range_high }}</td>
  <td>{{ job.created_dt.strftime('%Y-%m-%d') }}</td>
  <td>{{action_buttons(job)}}</td>
</tr>

<tr class="collapse detail-row" id="details-{{ job.id }}">
  <td colspan="12">
    <div class="p-3">
      <div class="mb-3">
        {% if has_activities %}
        <button
          class="btn btn-outline-secondary sub-detail-btn me-2"
          data-bs-toggle="collapse"
          data-bs-target="#activities-{{ job.id }}"
          aria-expanded="false"
        >
          <i class="nested-expand-icon">▼</i>
          Activities
        </button>

        {% endif %} {% if has_notes %}
        <button
          class="btn btn-outline-secondary sub-detail-btn me-2"
          data-bs-toggle="collapse"
          data-bs-target="#notes-{{ job.id }}"
          aria-expanded="false"
        >
          <i class="nested-expand-icon">▼</i>
          Notes
        </button>

        {% endif %}
      </div>

      {% if has_activities %}
      <div class="collapse mb-3" id="activities-{{ job.id }}">
        <div class="card card-body sub-detail-row">
          <h5>Job Activity History</h5>
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Date</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                {% for job_activity in job.activities %}
                <tr>
                  <td>{{ job_activity.activity_type }}</td>
                  <td>{{ job_activity.activity_date.strftime('%Y-%m-%d') }}</td>
                  <td>
                    <pre><code class="json">{{ job_activity.activity_json_data | e }}</code></pre>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      {% endif %} {% if has_notes %}
      <div class="collapse mb-3" id="notes-{{ job.id }}">
        <div class="card card-body sub-detail-row">
          <h5>Notes</h5>
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Note</th>
                </tr>
              </thead>
              <tbody>
                {% for job_note in job.notes %}
                <tr>
                  <td>{{ job_note.created_at.strftime('%Y-%m-%d') }}</td>
                  <td>{{ job_note.content }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      {% endif %}
    </div>
  </td>
</tr>

{% endmacro %} {% macro job_row_without_activities(job) %}
<tr>
  <td></td>
  <td>{{ job.company }}</td>
  <td>{{ job.title }}</td>
  <td>{{ job.location }}</td>
  <td>{{ job.remote_option }}</td>
  <td>${{ job.salary_range_low }} - ${{ job.salary_range_high }}</td>
  <td>{{ job.created_dt.strftime('%Y-%m-%d') }}</td>
  <td>{{action_buttons(job)}}</td>
</tr>

{% endmacro %} {% macro action_buttons(job) %}
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
  </button>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" data-href="{{ url_for('job_activities.create', job_id=job.id) }}">Add Activity</a>
    </li>
    <li>
      <a class="dropdown-item" data-href="{{ url_for('job_notes.create', job_id=job.id) }}">Add Note</a>
    </li>
    <li>
      <a class="dropdown-item" data-href="{{ url_for('jobs.view', job_id=job.id) }}">View/Edit Job</a>
    </li>
    <li>
      <a class="dropdown-item" data-href="{{ url_for('jobs.close', job_id=job.id) }}">Close Job</a>
    </li>
    <li>
      <a class="dropdown-item" data-href="{{ url_for('jobs.delete', job_id=job.id) }}">Delete Job</a>
    </li>
  </ul>
</div>

{% endmacro %} {% macro job_display_top_of_page(job) %}
<div class="card card-body sub-detail-row">
  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Company:</strong>
        {{ job.company }}
      </p>
      <p>
        <strong>Title:</strong>
        {{ job.title }}
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Location:</strong>
        {{ job.location }}
      </p>
      <p>
        <strong>Remote Option:</strong>
        {{ job.remote_option }}
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Date Created:</strong>
        {{ job.created_dt.strftime('%Y-%m-%d') }}
      </p>
      <p>
        <strong>Job ID:</strong>
        {{ job.id }}
      </p>
    </div>
  </div>
</div>

{% endmacro %} {% macro file_edit_card(job, file_type, file_description) %}

<div class="col-md-3 me-3" id="file-{{ file_type }}">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <i class="bi bi-file-earmark me-2"></i>
        {{ file_description }}
      </h5>

      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary btn-sm replace-btn" id="replace-{{ file_type }}-btn">
          <i class="bi bi-arrow-left-right"></i>
          Replace
        </button>
        <button type="button" class="btn btn-danger btn-sm delete-btn" id="delete-{{ file_type }}-btn">
          <i class="bi bi-trash"></i>
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

{% endmacro %} {% macro file_add_card(job, file_type, file_description) %}

<div class="col-md-3 me-3" id="file-{{ file_type }}">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <i class="bi bi-file-earmark me-2"></i>
        {{ file_description }}
      </h5>

      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-info btn-sm replace-btn" id="upload-{{ file_type }}-btn">
          <i class="bi bi-upload"></i>
          Upload
        </button>
      </div>
    </div>
  </div>
</div>

{% endmacro %}
